* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans";
  font-weight: 400;
}
.navigation {
  background-color: #fff0ed;
  width: 100%;
}
.navigation__logo {
  display: inline-block;
  width: 20%;
}

.logo img {
  display: inline-block;
  width: 50px;
}
.logo .nav-heading {
  display: inline-block;
  font-size: 60px;
  font-weight: 300;
  padding: 20px 0;
  color: #393939;
}

h3 {
  font-size: 33px;
  font-weight: 300;
  color: #393939;
}
a {
  text-decoration: none;
}
.price {
  color: #5bacc3;
  font-size: 21px;
  display: block;
  margin: auto;
}
.default__button {
  background-color: #5bacc3;
  color: #fff;
  font-size: 21px;
  font-weight: 400;
  outline: none;
  border: none;
  text-transform: uppercase;
  min-width: 180px;
  max-width: 80%;
  padding: 20px;
}
h1,
h2 {
  font-size: 60px;
  font-weight: 300;
}
.icon {
  width: 50px;
}

.navigation__menu{
  display: inline-block;
  width: 75%;
  list-style: none;
  text-transform: uppercase;
}
.menu-items-containers {
  width: 100%;
  display: inline-block;
  padding: 0;
  margin: 0;
}
.menu-items a {
  margin: 20px;
  font-size: 21px;
  display: inline-block;
  text-align: center;
}
.menu-items a {
  color: #393939;
}
.menu-items a:nth-child(3) {
  color: #5bacc3;
}
