* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: "Open Sans";
  font-weight: 400;
}

/* global styles */
.default__button {
  background-color: #5bacc3;
  color: #fff;
  font-size: 2.1rem;
  font-weight: 400;
  outline: none;
  border: none;
  text-transform: uppercase;
  width: 18rem;
  padding: 1.8rem 2.2rem 2.2rem 1.8rem;
  position: relative;
  cursor: pointer;
}
.default__button:active {
  padding: 2rem;
}
.default__button:active::after {
  top: 0;
  left: 0;
}
.default__button::after {
  content: "";
  display: block;
  position: absolute;
  top: -0.5rem;
  left: -0.5rem;
  width: 17.8rem;
  height: 6.1rem;
  border: 0.2rem solid #393939;
}

h1,
h2, h3 {
  font-size: 6rem;
  font-weight: 300;
}

.icon {
  width: 5rem;
}

.price {
  color: #5bacc3;
  font-size: 2.1rem;
  display: block;
  margin: auto;
}

.price-index {
  font-weight: 700;
}

.price-menu {
  font-weight: 300;
}

.nav-heading,
h3 {
  font-size: 3.3rem;
  font-weight: 300;
  color: #393939;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

/* navigations */
.navigation {
  background-color: #fff0ed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 2rem;
}
.navigation__logo {
  display: inline-block;
  width: 20%;
}
.navigation__logo img {
  display: inline-block;
  width: 5rem;
}
.navigation__logo.nav-heading {
  display: inline-block;
  font-size: 6rem;
  font-weight: 300;
  padding: 2rem 0;
  color: #393939;
}
.navigation__menu {
  display: flex;
  /* width: 75%; */
  list-style: none;
  text-transform: uppercase;
  float: right;
  align-items: center;
}
.navigation__menu a {
  margin: 2rem;
  font-size: 2.1rem;
  display: inline-block;
  text-align: center;
  color: #393939;
}
.navigation__menu a:hover {
  color: #5bacc3;
}

/* Header section */
.header__section {
  background-color: #fff0ed;
}
.header__section h1 {
  font-size: 6rem;
  font-weight: 300;
}
.header__section-content {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 3rem 12rem 3rem 12rem;
}
.header__section-content__container {
  margin-top: 10rem;
}
.header__section-content__container h1,
.header__section-content__container p,
.header__section-content__container button {
  display: block;
  margin-bottom: 3rem;
}
.header__section-content__container-content {
  width: 37rem;
  margin: auto;
  padding: 2rem;
}
.header__section-content__container-content p {
  margin-bottom: 3rem;
}

.hero__section img {
  margin-right: 12rem;
  padding-bottom: 2rem;
}

/* products section */
.product__image {
  height: 24rem;
}

.products__section {
  width: 100%;
  text-align: center;
  padding: 2rem;
  background-color: #f7f7f7;
}

.product {
  display: inline-block;
  width: 33%;
}
.product__card {
  width: 35rem;
  height: 46rem;
  /* padding: 20rem; */
  margin: auto;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 0.9rem -0.1rem rgba(0, 0, 0, 0.25);
  text-align: center;
  overflow: hidden;
  background-color: #fff;
}
.product__card img {
  height: 24rem;
  display: block;
  margin: auto;
  padding: 2rem;
}
.product__card p {
  margin: 2rem;
  font-size: 2.1rem;
}
.product__card-flex {
  width: 100%;
  height: 17rem;
  margin-top: 5rem;
  padding: 2rem;
  background-color: #fff0ed;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product__card-quantity {
  font-size: 1.6rem;
  color: #909090;
  margin: 0;
  margin-left: 0.4rem;
  text-align: left;
}

/* learn more section */
.learn-more__section {
  width: 100%;
  height: 57.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10rem;
  padding-right: 16rem;
}

.learn-more__content-text {
  width: 30%;
  padding-left: 8rem;
}
.learn-more__content-text h2,
.learn-more__content-text p {
  margin-bottom: 4rem;
}

.learn-more__content-icons {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.learn-more__content-icons img {
  width: 5rem;
}

.learn-more__content-img {
  height: 40rem;
  width: 40rem;
  background-image: url("../assets/coldbrewbackground.png");
  background-size: cover;
  background-position: center;
  position: relative;
}
.learn-more__content-img::after {
  width: 40rem;
  height: 40rem;
  position: absolute;
  top: -2rem;
  left: -2rem;
  content: "";
  display: block;
  border: 0.5rem solid #5bacc3;
}

.learn-more__content-img:hover .learn-more__content__img {
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.learn-more__content__img {
  width: 15.5rem;
  height: 27rem;
  background-image: url("../assets/tiltedcan.png");
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 2s infinite;
}

/* discount section */
.discount__banner {
  width: 100%;
  height: 30rem;
  margin-top: 18rem;
}
.discount__banner p {
  width: 70%;
  background-color: #393939;
  color: #fff;
  text-align: center;
  font-size: 4.5rem;
  font-weight: 400;
  margin-bottom: 2rem;
  padding: 5rem;
  margin: auto;
  animation: background 2.5s infinite;
}

.discount__code {
  font-weight: 700;
}

@keyframes background {
  0% {
    background-color: #393939;
  }
  50% {
    background-color: #5bacc3;
  }
  100% {
    background-color: #393939;
  }
}
/* footer section */
.footer {
  background-color: #fff0ed;
  width: 100%;
  height: 30rem;
  font-size: 2rem;
}

.footer-span {
  font-weight: bold;
}

.address h3,
.address p,
.hours h3,
.hours p,
.social p {
  margin: 2rem 2rem 3rem 4rem;
  display: block;
}

.social h3 {
  margin: 2rem 2rem 0rem 4rem;
}

.social {
  margin: -2rem 2rem 0rem 2rem;
}
.social img {
  display: inline-block;
  width: fit-content;
}

.footer__container {
  padding-top: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.address,
.hours,
.social {
  display: inline-block;
}

.footer__icons {
  display: inline-block;
  width: 100%;
  margin-left: 2rem;
  padding: 1.5rem 0rem 2rem 2rem;
}

.footer__icons .footer__icons-icon {
  width: 5rem;
}

.product__container {
  width: 100%;
  height: 100%;
  padding: 2rem;
}