.header__section {
  background-color: #fff0ed;
}
.header__section h1 {
  font-size: 60px;
  font-weight: 300;
}

.product__image {
  height: 240px;
}
.products__section {
  width: 100%;
  text-align: center;
  padding: 20px;
  background-color: #f7f7f7;
}
.product {
  display: inline-block;
  width: 33%;
}
.product__card {
  width: 350px;
  height: 460px;
  padding: 20px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 5px 9px -1px rgba(0, 0, 0, 0.25);
  text-align: center;
}
.product__card img {
  height: 240px;
  display: block;
  margin: auto;
  padding: 20px;
}
.product__card p {
  margin: 20px;
  font-size: 21px;
}

/* discount section */

.discount__banner {
  width: 100%;
  height: 300px;
  margin-top: 180px;
}
.discount__banner p {
  width: fit-content;
  background-color: #393939;
  color: #fff;
  text-align: center;
  font-size: 45px;
  font-weight: 400;
  margin-bottom: 20px;
  padding: 20px;
  margin: auto;
}
.discount__code {
  font-weight: 700;
}

/* footer section */

.footer {
  background-color: #fff0ed;
  width: 100%;
  height: 300px;
}
.footer-span {
  font-weight: bold;
}
.address h3,
.address p,
.hours h3,
.hours p,
.social p {
  margin: 20px 20px 30px 40px;
  display: block;
}
.social h3 {
  margin: 20px 20px 0px 40px;
}
.social {
  margin: 20px 20px 0px 20px;
}
.social img {
  display: inline-block;
  width: fit-content;
}

.footer__container {
  width: 100%;
  height: 100%;
  padding: 20px 0px 20px 180px;
}
.address,
.hours,
.social {
  display: inline-block;
}
.footer__icons {
  display: inline-block;
  width: 100%;
  margin-left: 20px;
  padding: 15px 0px 20px 20px;
}
.footer__icons .footer__icons-icon {
  width: 50px;
}

.product__container {
  width: 100%;
  height: 100%;
  padding: 20px;
}

.header__section-content {
  position: relative;
}
.header__section-content__container {
  display: inline-block;
  width: 49.5%;
  position: absolute;
  top: 100px;
}
.header__section-content__container h1,
.header__section-content__container p,
.header__section-content__container button {
  display: block;
  margin-bottom: 30px;
}
.header__section-content__container-content {
  width: 370px;
  margin: auto;
  padding: 20px;
}
.header__section-content__container-content p {
  margin-bottom: 30px;
}
.hero__section {
  display: inline-block;
  width: 49.5%;
  padding: 20px;
  position: relative;
  left: 50%;
}
.hero__section img {
  margin: auto;
  display: block;
}
