* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: "Open Sans";
  font-weight: 400;
}

/* global styles */
.default__button {
  background-color: #5bacc3;
  color: #fff;
  font-size: 2.1rem;
  font-weight: 400;
  outline: none;
  border: none;
  text-transform: uppercase;
  width: 18rem;
  padding: 1.8rem 2.2rem 2.2rem 1.8rem;
  position: relative;
  cursor: pointer;
}
.default__button:active {
  padding: 2rem;
}
.default__button:active::after {
  top: 0;
  left: 0;
}
.default__button::after {
  content: "";
  display: block;
  position: absolute;
  top: -0.5rem;
  left: -0.5rem;
  width: 17.8rem;
  height: 6.1rem;
  border: 0.2rem solid #393939;
}

h1,
h2, h3 {
  font-size: 6rem;
  font-weight: 300;
}

.icon {
  width: 5rem;
}

.price {
  color: #5bacc3;
  font-size: 2.1rem;
  display: block;
  margin: auto;
}

.price-index {
  font-weight: 700;
}

.price-menu {
  font-weight: 300;
}

.nav-heading,
h3 {
  font-size: 3.3rem;
  font-weight: 300;
  color: #393939;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

/* navigations */
.navigation {
  background-color: #fff0ed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 2rem;
}
.navigation__logo {
  display: inline-block;
  width: 20%;
}
.navigation__logo img {
  display: inline-block;
  width: 5rem;
}
.navigation__logo.nav-heading {
  display: inline-block;
  font-size: 6rem;
  font-weight: 300;
  padding: 2rem 0;
  color: #393939;
}
.navigation__menu {
  display: flex;
  /* width: 75%; */
  list-style: none;
  text-transform: uppercase;
  float: right;
  align-items: center;
}
.navigation__menu a {
  margin: 2rem;
  font-size: 2.1rem;
  display: inline-block;
  text-align: center;
  color: #393939;
}
.navigation__menu a:hover {
  color: #5bacc3;
}

.menu__categories {
  color: #fff;
  background-color: #393939;
  list-style: none;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  width: 100%;
  padding: 2rem;
}
.menu__categories-container {
  width: 100%;
  display: inline-block;
  padding: 0;
  margin: 0;
}
.menu__categories li {
  background-color: #393939;
  color: #fff;
  display: inline-block;
}
.menu__categories a {
  color: #fff;
  border-left: 0.4rem solid #5bacc3;
  padding: 1rem 2rem 1rem 2rem;
}

.menu__title {
  width: 100%;
  height: 57.5rem;
  background-image: url("../assets/coffee-circle.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__title-h1 {
  width: 28rem;
  height: 18rem;
  background-color: #393939;
  color: #fff;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__title-h1::after {
  width: 28rem;
  height: 18rem;
  display: block;
  content: "";
  border: 0.5rem solid #5bacc3;
  position: absolute;
  top: -2rem;
  left: -2rem;
}

.items__section {
  background-color: #fff0ed;
  text-align: center;
  padding: 4rem;
}
.items__section:nth-child(2) {
  background-color: #f7f7f7;
  text-align: center;
}

.p__regular-italic {
  font-size: 1.8rem;
  font-weight: 400;
  font-style: italic;
  word-wrap: break-word;
}

.item__container {
  width: 25%;
  margin: auto;
}