.menu__categories {
  color: #fff;
  background-color: #393939;
  list-style: none;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  width: 100%;
}
.menu__categories-container {
  width: 100%;
  display: inline-block;
  padding: 0;
  margin: 0;
}
.menu__categories li {
  padding: 20px;
  background-color: #393939;
  color: #fff;
  display: inline-block;
  border-left: 4px solid #5bacc3;
  padding: 20px;
  margin: 20px;
}
.menu__categories a {
  color: #fff;
}

.menu__title-h1 {
  width: 280px;
  height: 180px;
  background-color: #393939;
  color: #fff;
  text-align: center;
  margin: auto;
}
.menu__title {
  width: 100%;
  height: 575px;
  background-image: url("../assets/coffee-circle.jpg");
  background-position: center;
  background-size: cover;
}
.items__section {
  background-color: #fff0ed;
  text-align: center;
}
.items__section:nth-child(2) {
  background-color: #f7f7f7;
  text-align: center;
}
.p__regular-italic {
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  word-wrap: break-word;
}
.item__container {
  width: 25%;
  margin: auto;
}
