.menu-categories {
  color: #fff;
  background-color: #393939;
  list-style: none;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  width: 100%;
}
.menu-categories-containers {
  width: 100%;
  display: inline-block;
  padding: 0;
  margin: 0;
}
.menu-categories > li {
  padding: 20px;
  background-color: #393939;
  color: #fff;
  display: inline-block;
  border-left: 4px solid #5bacc3;
  padding: 20px;
  margin: 20px;
}
.menu-categories a {
  color: #fff;
}

.menu-title {
  min-width: 280px;
  max-width: 300px;
  min-height: 180px;
  max-height: 200px;
  background-color: #393939;
  color: #fff;
  text-align: center;
  margin: auto;
}
.menu-sections {
  min-width: 100%;
  max-width: 100%;
  min-height: 575px;
  max-height: 600px;
  background-image: url("../assets/coffee-circle.jpg");
  background-position: center;
  background-size: cover;
}
.items-section {
  background-color: #fff0ed;
  text-align: center;
}
.items-section-middle {
  background-color: #f7f7f7;
  text-align: center;
}
.regular-italic {
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
}
