@use "./partials/global" as *;

/* Header section */

.header__section {
  background-color: #fff0ed;
  h1 {
    font-size: 6rem;
    font-weight: 300;
  }
  &-content {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 3rem 12rem 3rem 12rem;
    &__container {
      margin-top: 10rem;
      h1,
      p,
      button {
        display: block;
        margin-bottom: 3rem;
      }
      &-content {
        width: 37rem;
        margin: auto;
        padding: 2rem;
        p {
          margin-bottom: 3rem;
        }
      }
    }
  }
}


.hero__section img {
  margin-right: 12rem;
  padding-bottom: 2rem;
}

/* products section */
.product__image {
  height: 24rem;
}
.products__section {
  width: 100%;
  text-align: center;
  padding: 2rem;
  background-color: #f7f7f7;
}
.product {
  display: inline-block;
  width: 33%;
  &__card {
    width: 35rem;
    height: 46rem;
    /* padding: 20rem; */
    margin: auto;
    border-radius: 1rem;
    box-shadow: 0 .5rem .9rem -.1rem rgba(0, 0, 0, 0.25);
    text-align: center;
    overflow: hidden;
    background-color: #fff;
    img {
      height: 24rem;
      display: block;
      margin: auto;
      padding: 2rem;
    }
    p {
      margin: 2rem;
      font-size: 2.1rem;
    }
    &-flex {
      width: 100%;
      height: 17rem;
      margin-top: 5rem;
      padding: 2rem;
      background-color: #fff0ed;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &-quantity {
      font-size: 1.6rem;
      color: #909090;
      margin: 0;
      margin-left: .4rem;
      text-align: left;
    }
  }
}

/* learn more section */
.learn-more__section {
  width: 100%;
  height: 57.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10rem;
  padding-right: 16rem;
}
.learn-more__content-text {
  width: 30%;
  padding-left: 8rem;
  h2,
  p {
    margin-bottom: 4rem;
  }
}

.learn-more__content-icons {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
  margin-bottom: 4rem;
  img {
    width: 5rem;
  }
}

.learn-more__content-img {
  height: 40rem;
  width: 40rem;
  background-image: url("../assets/coldbrewbackground.png");
  background-size: cover;
  background-position: center;
  position: relative;
  &::after {
    width: 40rem;
    height: 40rem;
    position: absolute;
    top: -2rem;
    left: -2rem;
    content: "";
    display: block;
    border: .5rem solid #5bacc3;
  }
}
.learn-more__content-img:hover .learn-more__content__img {
  animation: rotate 2s infinite linear;
}
@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.learn-more__content__img {
  width: 15.5rem;
  height: 27rem;
  background-image: url("../assets/tiltedcan.png");
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 2s infinite;
}

/* discount section */

.discount__banner {
  width: 100%;
  height: 30rem;
  margin-top: 18rem;
  p {
    width: 70%;
    background-color: #393939;
    color: #fff;
    text-align: center;
    font-size: 4.5rem;
    font-weight: 400;
    margin-bottom: 2rem;
    padding: 5rem;
    margin: auto;

    animation: background 2.5s infinite;
  }
}
.discount__code {
  font-weight: 700;
}
@keyframes background {
  0% {
    background-color: #393939;
  }
  50% {
    background-color: #5bacc3;
  }
  100% {
    background-color: #393939;
  }
}
/* footer section */

.footer {
  background-color: #fff0ed;
  width: 100%;
  height: 30rem;
  font-size: 2rem;
}
.footer-span {
  font-weight: bold;
  // font-size: 2rem;
}
.address h3,
.address p,
.hours h3,
.hours p,
.social p {
  margin: 2rem 2rem 3rem 4rem;
  display: block;
  
}
.social h3 {
  margin: 2rem 2rem 0rem 4rem;
}
.social {
  margin: -2rem 2rem 0rem 2rem;
  img {
    display: inline-block;
    width: fit-content;
  }
}

.footer__container {
  padding-top: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  
}
.address,
.hours,
.social {
  display: inline-block;
  
}
.footer__icons {
  display: inline-block;
  width: 100%;
  margin-left: 2rem;
  padding: 1.5rem 0rem 2rem 2rem;
}
.footer__icons .footer__icons-icon {
  width: 5rem;
}

.product__container {
  width: 100%;
  height: 100%;
  padding: 2rem;
}
