@use "./partials/global" as *;

.menu__categories {
  color: #fff;
  background-color: #393939;
  list-style: none;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  width: 100%;
  padding: 2rem;

  &-container {
    width: 100%;
    display: inline-block;
    padding: 0;
    margin: 0;
  }
  li {
    background-color: #393939;
    color: #fff;
    display: inline-block;
  }
  a {
    color: #fff;
    border-left: .4rem solid #5bacc3;
    padding: 1rem 2rem 1rem 2rem;
  }
}

.menu__title {
  width: 100%;
  height: 57.5rem;
  background-image: url("../assets/coffee-circle.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  &-h1 {
    width: 28rem;
    height: 18rem;
    background-color: #393939;
    color: #fff;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    &::after {
      width: 28rem;
      height: 18rem;

      display: block;
      content: "";
      border: .5rem solid #5bacc3;
      position: absolute;
      top: -2rem;
      left: -2rem;
    }
  }
}

.items__section {
  background-color: #fff0ed;
  text-align: center;
  padding: 4rem;
  &:nth-child(2) {
    background-color: #f7f7f7;
    text-align: center;
  }
}

.p__regular-italic {
  font-size: 1.8rem;
  font-weight: 400;
  font-style: italic;
  word-wrap: break-word;
}
.item__container {
  width: 25%;
  margin: auto;
}
