* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%; // the base font size is set to 10rem to ease calc for rem
}
body {
  font-family: "Open Sans";
  font-weight: 400;
}
/* global styles */

.default__button {
  background-color: #5bacc3;
  color: #fff;
  font-size: 2.1rem;
  font-weight: 400;
  outline: none;
  border: none;
  text-transform: uppercase;
  width: 18rem;
  padding: 1.8rem 2.2rem 2.2rem 1.8rem;
  position: relative;
  cursor: pointer;
  &:active {
    padding: 2rem;
    &::after {
      top: 0;
      left: 0;
    }
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: -.5rem;
    left: -.5rem;
    width: 17.8rem;
    height: 6.1rem;

    border: .2rem solid #393939;
  }
}

h1,
h2,h3 {
  font-size: 6rem;
  font-weight: 300;
}
.icon {
  width: 5rem;
}
.price {
  color: #5bacc3;
  font-size: 2.1rem;
  display: block;
  margin: auto;
}
.price-index {
  font-weight: 700;
}
.price-menu {
  font-weight: 300;
}

.nav-heading,
h3 {
  font-size: 3.3rem;
  font-weight: 300;
  color: #393939;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

/* navigations */
.navigation {
  background-color: #fff0ed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 2rem;
  &__logo {
    display: inline-block;
    width: 20%;
    img {
      display: inline-block;
      width: 5rem;
    }
    &.nav-heading {
  display: inline-block;
  font-size: 6rem;
  font-weight: 300;
  padding: 2rem 0;
  color: #393939;
}

  }
  &__menu {
    display: flex;
    /* width: 75%; */
    list-style: none;
    text-transform: uppercase;
    float: right;
    align-items: center;
    a {
      margin: 2rem;
      font-size: 2.1rem;
      display: inline-block;
      text-align: center;
      color: #393939;
      &:hover {
        color: #5bacc3;
      }
    }
  }
}

